@using Core.Models;
@model List<Chef>
@{
    int counter = 1;
}

<table class="table">
  <thead>
        <tr><div> <a  asp-action="Create"> Create</a> </div></tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">FULLNAME</th>
      <th scope="col">DESIGNATION</th>
      <th scope="col">fB</th>
      <th scope="col">X</th>
      <th scope="col">Ig</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model)
      {
    <tr>
      <th scope="row">@(counter++)</th>
      <td>@item.Id</td>
      <td>@item.FullName</td>
      <td>@item.Designation</td>
      <td>@item.FbLink</td>
      <td>@item.XLink</td>
      <td>@item.IgLink</td>
                <td><img src="~/uploads/chefs/@item.ImageUrl" width="100" height="100"/></td>
                <td> <a asp-action="Update" asp-route-id="@item.Id">Update</a> </td>
                <td> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> </td>
    </tr>
      }
  </tbody>
</table>